/* A overall  */
body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  background-color: #564263;
  color: #fff;
  width: 100%;
}

.header-left {
  align-content: space-around;
  margin: 10px;
  padding: 5px;
}

.header-right {
  margin: 10px;
  padding: 10px;
}

.header-nav {
  display: flex;
}

.header-nav li {
  /*border: solid 1px;*/
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  transition: 0.3s;
}

.header-nav li:hover {
  background-color: #674f77;
}

.header-nav li:hover .header-nav-menu {
  display: block;
}

.header-nav li i {
  font-size: 10px;
  padding-left: 5px;
}

.header-nav-menu {
  display: none;
  position: absolute;
  background-color: #564263;
  margin-top: 10px;
  z-index: 1;
}

.gabessquare {
  font-weight: bold;
  font-size: 26px;
}

.header-text {
  margin-left: 5px;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Content List */
.article-content {
  padding: 10px;
  border: solid 1px;
  max-width: 850px;
  border: solid 1px;
}

.articles-list {
  padding: 10px;
  border: solid 1px;
  max-width: 850px;
}

.article-card {
  /*background-color: red;*/
  width: 640px;
  border: solid 1px;
  padding: 5px;
}

.article-card-title {
  font-size: 20px;
  font-weight: bold;
}

.article-card-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.article-card-views {
  font-size: 14px;
}

.article-card-mid {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.article-card-bottom {
  display: flex;
  padding: 10px;
}

.article-card-tags {
  display: flex;
}

.article-card-tags li {
  margin: 0px 2px 0px 2px;
}

.article-card-tags li:hover {
  transition: 0.3s;
  color: #fff;
  background-color: #674f77;
}

/* Footer */
.page-footer {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  align-items: center;
}

.separator {
  height: inherit;
  border-left: 2px solid;
  margin: 0px 5px 0px 5px;
}

.footer-text {
  margin: 0px 5px 0px 5px;
}

.footer-text i {
  font-size: 12px;
}

.footer-icons {
  margin: 0px 5px 0 5px;
}

.footer-icons a {
  margin: 2px;
}

.footer-icons a i {
  font-size: 18px;
}
