<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Gabe's Square</title>
    <link rel="stylesheet" href="public/styles/reset.css" />
    <link rel="stylesheet" href="public/styles/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/base16/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

  </head>

  <body>
    <header class="page-header">
      <div class="header-left">
        <a href="#"><div class="gabessquare">Gabe's Square!</div></a>
        <span class="header-text">Use Linux!</span>
      </div>
      <div class="header-right">
        <ul class="header-nav">
          <li>
            explorar por tags<i class="bi bi-caret-down-fill"></i>
            <ul class="header-nav-menu">
              <a href="#"><li>Linux</li></a>
              <a href="#"><li>Games</li></a>
              <a href="#"><li>Engenharia</li></a>
              <a href="#"><li>TypeScript</li></a>
              <a href="#"><li>C++</li></a>
              <a href="#"><li>Rust</li></a>
            </ul>
          </li>

          <li>
            explorar por ano<i class="bi bi-caret-down-fill"></i>
            <ul class="header-nav-menu">
              <a href="#"><li>2024</li></a>
              <a href="#"><li>2023</li></a>
              <a href="#"><li>2022</li></a>
              <a href="#"><li>2021</li></a>
              <a href="#"><li>2020</li></a>
            </ul>
          </li>
        </ul>
      </div>
    </header>

    <div class="page-content">
      <div class="article-content">
        <div class="content-header">
          <h1 class="content-title">A nice hello world!</h1>
          <span class="content-date">15 de fevereiro de 2024, 15:40h</span>
          <div class="content-separator"></div>
        </div>
        <p>Some lorem ipsum here</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum
          laoreet nisl nec feugiat. <a href="#">Ut finibus ligula turpis</a>, vel auctor nunc
          varius et. Fusce ut tellus tristique, scelerisque magna in, sagittis
          velit. Sed id condimentum odio. Donec ultrices libero mi, non aliquet
          mi rhoncus non. Proin et diam nec odio accumsan suscipit. Cras
          vulputate faucibus ultricies. Vestibulum consequat blandit
          condimentum. Praesent lorem ex, porttitor tempus dictum in,
          ullamcorper et diam. In hac habitasse platea dictumst. Vivamus vitae
          neque interdum, luctus arcu quis, porttitor orci. Aenean molestie
          tellus lectus, et commodo nisl finibus nec. Quisque id nunc pharetra
          ipsum posuere tempus. Mauris eu libero fringilla, eleifend tortor ut,
          scelerisque elit. Suspendisse porta lorem sapien, at finibus tortor
          malesuada tristique. Aliquam in justo augue.
        </p>

        <h2>Sub title here brow</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum
          laoreet nisl nec feugiat. Ut finibus ligula turpis, vel auctor nunc
          varius et. Fusce ut tellus tristique, scelerisque magna in, sagittis
          velit. Sed id condimentum odio. Donec ultrices libero mi, non aliquet
          mi rhoncus non. Proin et diam nec odio accumsan suscipit. Cras
          vulputate faucibus ultricies. Vestibulum consequat blandit
          condimentum. Praesent lorem ex, porttitor tempus dictum in,
          ullamcorper et diam. In hac habitasse platea dictumst. Vivamus vitae
          neque interdum, luctus arcu quis, porttitor orci. Aenean molestie
          tellus lectus, et commodo nisl finibus nec. Quisque id nunc pharetra
          ipsum posuere tempus. Mauris eu libero fringilla, eleifend tortor ut,
          scelerisque elit. Suspendisse porta lorem sapien, at finibus tortor
          malesuada tristique. Aliquam in justo augue.
        </p>

        <img src="https://picsum.photos/id/10/2500/1667" alt="My nice image" />

        <h2>Third paragraph</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum
          laoreet nisl nec feugiat. Ut finibus ligula turpis, vel auctor nunc
          varius et. Fusce ut tellus tristique, scelerisque magna in, sagittis
          velit. Sed id condimentum odio. Donec ultrices libero mi, non aliquet
          mi rhoncus non. Proin et diam nec odio accumsan suscipit. Cras
          vulputate faucibus ultricies. Vestibulum consequat blandit
          condimentum. Praesent lorem ex, porttitor tempus dictum in,
          ullamcorper et diam. In hac habitasse platea dictumst. Vivamus vitae
          neque interdum, luctus arcu quis, porttitor orci. Aenean molestie
          tellus lectus, et commodo nisl finibus nec. Quisque id nunc pharetra
          ipsum posuere tempus. Mauris eu libero fringilla, eleifend tortor ut,
          scelerisque elit. Suspendisse porta lorem sapien, at finibus tortor
          malesuada tristique. Aliquam in justo augue.
        </p>

        <pre>
          <code class="language-c">#include &lt;stdio.h&gt;

int main(int argc, char* argv[]){
  printf("Hello World!!!");

  return 0;
}</code>
        </pre>

        <h3>Sub Sub here</h3>
        <h4>Sub Sub here</h4>
        <h5>Sub Sub here</h5>
        <h6>Sub Sub here</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum
          laoreet nisl nec feugiat. Ut finibus ligula turpis, vel auctor nunc
          varius et. Fusce ut tellus tristique, scelerisque magna in, sagittis
          velit. Sed id condimentum odio. Donec ultrices libero mi, non aliquet
          mi rhoncus non. Proin et diam nec odio accumsan suscipit. Cras
          vulputate faucibus ultricies. Vestibulum consequat blandit
          condimentum. Praesent lorem ex, porttitor tempus dictum in
        </p>
      </div>
    </div>

    <footer class="page-footer">
      <span class="footer-text"><i class="bi bi-c-circle"></i> 2024</span>
      <span class="footer-text"
        >Feito com <i class="bi bi-heart-fill heart" style="color: red"></i> por
        Gabe
      </span>
      <div class="footer-icons">
        <a href="https://github.com/Gabriel-Grechuk" target="_blank"
          ><i class="bi bi-github"></i
        ></a>
        <a href="#"><i class="bi bi-house-fill"></i></a>
      </div>
    </footer>
  </body>
</html>
