<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Gabe's Square</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>

  <body>
    <header class="page-header">
      <div class="header-left">
        <div class="gabessquare">Gabe's Square</div>
      </div>
      <div class="header-right">
        <ul class="header-nav">
          <li>hey</li>
          <li>hey</li>
          <li>hey</li>
          <li>hey</li>
        </ul>
      </div>
    </header>

    <div class="page-content">
      <div class="articles-list">

      </div>
    </div>

    <footer class="page-footer">
      <p>Made with love by Gabe</p>
    </footer>
  </body>
</html>
