<div class="article-content">
  <h1 class="content-title">A nice hello world!</h1>
  <p class="content-paragraph">Some lorem ipsum here</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum laoreet
    nisl nec feugiat. Ut finibus ligula turpis, vel auctor nunc varius et. Fusce
    ut tellus tristique, scelerisque magna in, sagittis velit. Sed id
    condimentum odio. Donec ultrices libero mi, non aliquet mi rhoncus non.
    Proin et diam nec odio accumsan suscipit. Cras vulputate faucibus ultricies.
    Vestibulum consequat blandit condimentum. Praesent lorem ex, porttitor
    tempus dictum in, ullamcorper et diam. In hac habitasse platea dictumst.
    Vivamus vitae neque interdum, luctus arcu quis, porttitor orci. Aenean
    molestie tellus lectus, et commodo nisl finibus nec. Quisque id nunc
    pharetra ipsum posuere tempus. Mauris eu libero fringilla, eleifend tortor
    ut, scelerisque elit. Suspendisse porta lorem sapien, at finibus tortor
    malesuada tristique. Aliquam in justo augue.
  </p>
</div>
