<%#
  data: {
    homeLink: string;
  }
%>


<footer class="page-footer">
  <span class="footer-text"><i class="bi bi-c-circle"></i> 2024</span>
  <span class="footer-text"
    >Feito com <i class="bi bi-heart-fill heart" style="color: red"></i> por
    Gabe
  </span>
  <div class="footer-icons">
    <a href="https://github.com/Gabriel-Grechuk" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
    <a href="<%= data.homeLink %>"><i class="bi bi-house-fill"></i></a>
  </div>
</footer>
